<%include partials/header%>


<div class = "container">

<h1>About</h1>

<p>
	I will try to address three aspects here: 
	<ul>
		<li>What is this?</li>
		<li>Why is this needed?</li>
		<li>What this can be?</li>
	</ul>
</p>

<h3>What is this?</h3>
<p>
	This site was made by our team to take part in the <a href="">Rural development hackathon</a> conducted by hackerearth. The goal of our team was to make a platform where farmers can connect with the merchants and other farmers and keep forward their demands at an optimal possible budget and hence remove the requirement of any sort of 'middlemen'.
</p>

<h3>Why is this needed?</h3>
<p>
	The farmers of our country suffer from many problems that disables them from getting optimal amount for their produce , one of the factors is that they have to go through middlemen to put their demands forward, also they are unaware of the real time prices of their produce and hence are unable to get maximum amount of profits. So a common platform is needed to put forward their demands and where farmers and merchants alike can visit and cater for the demands themselves.
</p>

<h3>What this can be?</h3>
<p>
	This site has the following features as of now:
	<ul>
		<li>A signup system for the users to signup.</li>
		<li>A login system for the users to log in.</li>
		<li>User can post, delete, edit their.</li>
		<li>Users can update their profiles.</li>
		<li>Users can sell items i.e. they can have open orders for their produce.</li>
		<li>Users can update their orders</li>
		<li>Users can easily contact the farmers to cater for their demands.</li>
	</ul>
	We can further add the following features to make this site much more productive and useful.
	<ul>
		<li>Hindi language support for the Indian farmers.</li>
		<li>A messaging system where users can be notified about who are interested in their demands/produce.</li>
		<li>An API which can be used to integrate this website with an android app.</li>
		<li>Integration of users' phone number so that they can get messages on their phones.</li>
		<li>Real time prices about various vegetables etc so that the users can get info about the real time prices of their produce.</li>
		<li>An android app for the users.</li>
		<li>Proper classification between a merchant and a farmer.</li>
		<li>Merchants will get notified of the requests in their area and farmers will be notified of the merchants in their area.</li>
	</ul>
	In the end I would conclude that all great journeys start with a small step and this is that step. The possibilities are endless and much more can be done if proper amount of time and resources are invested.
</p>
</div>

<%include partials/footer%>