

<% include partials/header %>
<div class="container">
<div class="jumbotron">
  
	  <h1>FarmerCompanion</h1>
	  <h3>Welcome to FarmerCompanion website.</h3>
	  <p>A website where farmers can set there demands and buy and sell commodities from each other.</p>
	  <p><a class="btn btn-primary btn-lg" href="/demand" role="button">OpenDemands</a></p>
	  <p><a class="btn btn-primary btn-lg" href="/item" role="button">Commodities</a></p>
  </div>

  <h3>How the demand system works...</h3>
  <p>Here farmers can place their demands along with description and their budgets. Other users/farmers who visit this site can view the demands and contact the farmers for completing their demands within the same budget plan. If the demand gets completed , the users/farmers are requested to delete their demands. They can also edit their demands if need be.</p>

  <h3>How the commodities Section works...</h3>
  <p>Here farmers can place the commodities(like eggs, cattle etc.) they would like to sell along with the description and the cost. Other users who visit this site can view the commodities for sale and contact the farmers for buying their commodities. If the commodities get purchased, the users are requested to update the availability as required.</p>


</div>



<% include partials/footer %>