<%include partials/header%>



<div class="container">
<h1>registered users</h1>


<% users.forEach(function(user){ %>
	<div class="panel panel-default">
		<div class="panel-body">
			<p>
				name: <%=user.name%>
			</p>
			<p>
				contact: <%=user.phone%>
			</p>
			<p>
				<a href="/user/<%=user._id%>">details..</a>
			</p>
		</div>
	</div>
<% }); %>


</div>







<%include partials/footer%>